<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">CordobaQ Consulting provides the solutions to everyday issues which hinder the profitable operation of your business.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">What are the benefits of working with us?</h4>
                    <p class="text-muted">By engaging with CordobaQ Consulting, you can access knowledge from both sides of the industry: from a technical software development and implementation perspective, and in-depth commercial expertise founded upon aviation aftermarket best practice to fulfil business strategies and foster success.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">What will it mean for your business?</h4>
                    <p class="text-muted">CordobaQ Consulting supports your ability to make good business decisions. We help you to derive the maximum benefit from your software investment by streamlining manual process flows to positively affect change management and transformation.</p>
                    <p>Accurate data and insightful reporting gives your management team the tools they need to understand and manage your business to the optimum efficiency – reducing wasted effort, maximising profit and underpinning better performance.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">What problems do we solve?</h4>
                    <p class="text-muted">Understanding the proper way of processing various business lines in your aviation software, such as aircraft and engine teardowns or material on consignment, will deliver the intelligent reporting you need for effective planning and commercial achievement.</p>
                </div>
            </div>
        </div>
    </section>